@font-face {
    font-family: '07ロゴたいぷゴシック7';
    src: url('./ロゴたいぷゴシック.otf') format('opentype');
}
body{
    font-family: '07ロゴたいぷゴシック7';
}
a{
    text-decoration: none;
    color: #0047cc;
}
a:visited{
    color: #0047cc;
}
a:hover{
    text-decoration: underline;
}
.content{
    padding-left: 30px;
    padding-right: 30px;
}
h1{
    color: blueviolet;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 3px dashed gray;
}
h2{
    color: rgb(255, 0, 119);
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 2px dashed gray;
}
h3{
    color: rgb(255, 0, 234);
    font-weight: normal;
}
.bold{
    font-weight: bold;
}
.underline{
    text-decoration: underline;
}
.center{
    text-align: center;
}
.indent1{
    margin-left: 2em;
    margin-top: 10px;
}
.command{
    font-family: monospace;
    background-color: #e9e9e9;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
ul{
    list-style: square;
    margin-top: 10px;
}
ul.disc{
    list-style: disc;
}
ol{
    margin-top: 10px;
}
li{
    margin-bottom: 10px;
}
.img{
    width: 300px;
    display: inline-block;
}
.img img{
    border-radius: 5px;
}
.img .caption{
    text-align: center;
    font-size: 70%;
}
@media only screen and(max-device-width: 480px){
    .img{
        width: 100%;
    }
}
.toc{
    font-size: 80%;
    border: solid 1px #444444;
    border-radius: 5px;
    background-color: #00c3ff33;
    width: 300px;
}
.lavel-impostor{
    color: #c20000;
}
.lavel-crew{
    color: #00b4cc;
}
.lavel-both{
    color: #b100d4;
}
.lavel-neutral{
    color: #00831c;
}
.lavel-toc{
    margin-top: 10px;
}